
.container{
    width: 1200px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.container div:not(.subtotal){
    height: auto!important;
}
.container img{
    width: 100px!important;
    /* height: 200px; */ 
}
.cart_container{
    padding: 20px;
    width: 800px;
    height: 250px;
    margin-top: 100px;
}
.cart_container h2,
.cart_container h3{
    padding: 10px;
    width: 500px;
}
.cart_container hr{
    margin: 10px;
}
.subtotal{
    
    padding: 20px;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(242, 241, 241);
    border-radius: 5px;
}
.subtotal a {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border: none;


}

.subtotal a:hover{
    background: var(--primary-shade);
}
.subtotal span{
    display: flex;
    gap: 20px;
}
@media screen  and (max-width:960px){
    .container{
        flex-direction: column;
        order: 1;
    }
}
.cart_product{
    display: flex;
    gap: 10px;
}
.btn_container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
    
.btn{
    padding: 5px 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.btn:hover svg{
    background-color: var(--primary-color);
}