.catagory {
  height: 350px;
  width: 260px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catagory img {
  max-width: 250px;
  max-height: 250px;
  padding: 0px 10px;
  object-fit: contain;
  
}
.catagory a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.catagory p {
  color: rgb(9, 132, 209);
  font-size: 18px;
  font-weight: bold;
  padding-left: 70px;
}
.catagory h3 {
  padding-left: 20px;
}
.catagory_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  place-items: center;
  margin-top: -10%;
  align-items: center;
}
