

.Header_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
}


.logo_Container img {
  width: 100px;
  object-fit: contain;
}


.delivery {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.delivery span {
  margin-right: 5px;
  font-size: 20px;
  color: #fff;
}

.delivery div p {
  font-size: 12px;
  margin: 0;
}

.delivery div span {
  font-weight: bold;
  font-size: 14px;
}

.search {
  display: flex;
  flex: 1;
  margin: 0 20px;
}

.search select {
  padding: 5px;
  border: none;
  border-radius: 2px 0 0 2px;
  outline: none;
}

.search input {
  flex: 1;
  padding: 5px 10px;
  border: none;
  outline: none;
}

.search svg {
  background-color: #febd69;
  padding: 5px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.language {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.language img {
  width: 25px;
  margin-right: 5px;
}

.language select {
  padding: 3px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}


.rightSection {
  display: flex;
  align-items: center;
}

.rightSection a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
}

.rightSection a div p {
  margin: 0;
  font-size: 12px;
}

.rightSection a div span {
  font-weight: bold;
  font-size: 14px;
}


.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.cart span {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #f08804;
  color: black;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}